<main>
    <h1 class="page-title">Kartvizitler</h1>
    <p class="page-description">
        Bu ekrandan kartvizitlerinizi yönetebilirsiniz.
    </p>
    <hr>
    <div class="cards">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <mat-card class="card-item">
                    <mat-card-header>
                      <mat-card-title>Samed Kütahyalı</mat-card-title>
                      <mat-card-subtitle>Fullstack Developer</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">0599 999 9999</li>
                            <li class="list-group-item">samedkutahyali19@gmail.com</li>
                            <li class="list-group-item">Bornova / İZMİR</li>
                          </ul>
                    </mat-card-content>
                  </mat-card>
                  
            </div>
        </div>
    </div>
</main>